<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "usuo", root_path, id: "logo" %>

      <% if student_signed_in? %>
        <span class="greeting">Sveikas, Moksleivi!</span>
      <% end %>

      <% if orange_signed_in? %>
        <span class="greeting">Sveikas, Oranžini!</span>
      <% end %>

      <nav>
        
      </nav>
    </div>
  </div>
</header>