<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "usuo", root_path, id: "logo" %>
    <nav class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

      <% if student_signed_in? %>
        <li class="greeting">Sveikas, Moksleivi!</li>
      <% end %>

      <% if orange_signed_in? %>
        <li class="greeting">Sveikas, Oranžini!</li>
      <% end %>
      
      </ul>
      <ul class="nav navbar-nav navbar-right">

      <% if anyone_signed_in? %>
        <li>
          <%= link_to('Atsijungti', destroy_student_session_path, :method => :delete) %>
        </li>
      <% end %>

      </ul>
    </nav>
  </div>
</header>